 .panda-bg-info{
     background-color: #FEEAE9;
 }
 .bg-watch{
     background-color:#ffA500 ;
 }
 .bg-bag{
     background-color: #DA70D6;
 }
 .bg-shoes{
     background-color: #0000ff;
 }
 .image-width img{
     width: 100px;
 }
 .sub{
     background-color: #FCEAE8;
 }